@import '~bootstrap/scss/bootstrap';
@import '~weather-icons/sass/weather-icons';
@import '~weather-icons/css/weather-icons-wind';

body {
    font-size: 16px;
    background-color: rgba(45, 56, 70, 1);
}

.logo {
    text-align: center;
}

.logo img {
    width: 60%;
}

.spinner-block {
    background-color: rgba(255, 255, 255, 1);
    color: #354256;
    height: 100vh;
    position: absolute;
    z-index: 9999;
}

.left-side {
    background-color: #2d3846;
    color: white;
    height: 100vh;
}

.right-side {
    background-color: rgba(235, 235, 235, 1);
    color: #354256;
    padding: 2.2rem 1.5rem;
}

#messageBox {
    height: 100%;
}

#city {
    font-size: 22px;
    text-align: center;
}

.city-links {
    cursor: pointer;
    text-decoration: underline;
}

#municipality {
    text-align: center;
}

.form-control {
    border-radius: 24px;
    border: 0;
    padding: 0.375rem 0;
    font-size: 16px;
}

.form-control:focus {
    border-color: inherit;
    box-shadow: none;
}

.input-group-text {
    border-radius: 24px;
    border: 0;
    background-color: white;
    font-size: 16px;
    color: #a8b6cb;
}

.top {
    position: relative;
}

.suggestions {
    margin: 0;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    width: 100%;
}

.suggestions .icon {
    color: #b2b2b2;
    padding-left: 5px;
    padding-right: 10px;
}

.suggestions .suggestion-box {
    background-color: white;
    margin: 0;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
}

.on-top {
    z-index: 999;
}

.suggestions .suggestion-box:hover {
    background-color: rgb(235, 235, 235);
}

.suggestions p {
    margin: 0;
}

.suggestions p.city {
    font-size: 16px;
    color: #354256;
    font-weight: bold;
}

.suggestions p.municipality {
    font-size: 13px;
    color: #858585;
    font-style: italic;
}

.btn {
    border-radius: 0;
    font-size: 16px;
}

.btn:focus {
    box-shadow: none;
}

.cities {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0 5px;
}

ul li a {
    color: white;
}

.block {
    border: 1px solid #d9d9d9;
    border-radius: 24px;
    background-color: white;
    box-shadow: 3px 3px 10px 1px #dcdcdc;
}

.time p {
    margin-bottom: 0;
}

.temp-blocks .icon p {
    font-size: 26px;
    margin: 8px 0;
}

.weather-parameters .icon p {
    font-size: 34px;
}

.weather-parameters .body p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.temperature {
    margin-bottom: 25px;
}

.temperature p {
    margin-bottom: 0;
}

.modal-header {
    background-color: #ff5050;
    color: white;
    border-bottom: 0 none;
}

.modal-body .body-type {
    font-size: 22px;
}

.modal-content {
    border: 0;
}

.modal-footer {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 30px;
    border-top: 0 none;
}

.modal-footer button {
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.375rem 2.3rem;
    background-color: #2d3846;
}

.modal-footer button:hover {
    background-color: #1b222a;
    color: white;
}

.bottom {
    height: 100%;
}

.bottom p {
    color: white;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}

.bottom a {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

hr {
    background-color: white;
    width: 80%;
    margin-top: 30px;
}

@media only screen and (min-width: 992px) {
    .cities ul {
        width: 88.77px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        background-color: #ebebeb;
    }

    .logo img {
        width: 35%;
    }

    .left-side {
        height: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .logo img {
        width: 55%;
    }

    .cities ul {
        width: 88.77px;
    }
}